.displayInteractions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likeCommentCont {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.likeComment {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}